body {
	font-family: Avenir, Helvetica, sans-serif;
	font-weight: 300;
}

h1 {
	text-align: center;
}

.wrapper {
	height: 150px;
	width: 100vw;
	margin: auto;
}

.heading {
	height: auto;
	width: auto;
	margin: auto;
	position: relative;
}

.getRecent {
	float: left;
	margin-left: 75px;
	text-align: center;
}

.getLocation {
	float: right;
	margin-right: 75px;
	text-align: center;
	position: relative;
}

.populate {
	height: 100vh;
	width: 100vw;
	margin: auto;
}

.postRecent {
	float: left;
	margin-left: 75px;
}

.postLocation {
	float: right;
	margin-right: 75px;
}

.search {
	border: 0;
	height: 40px;
	width: 400px;
	margin-left: 50px;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	border-bottom: 1px solid lightgray;
}